<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Text Rank Visualizer{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" />
</head>
<body>
  {% block content %}{% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"></script>
  <script src="{{ url_for('static', path='/js/graph.js') }}"></script>
</body>
</html>